/alembic/versions/7d23b91a13a7_fist_migration.py
/application/services/arialmt.ttf
/application/services/ppp.py
/application/services/q.py
/application/services/session_name.session
/venv/
/session_name.session

.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock

docs_build
site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store
__pycache__/
*.py[cod]
*$py.class

/.env2
